{% extends "base_reserve.html" %}

{% load staticfiles %}

{% block reserve_content %}

<div class="sub-contents">
    <div id="create-failed">
        <div class="page-title">
            <h2>アカウント登録失敗</h2>
        </div>
        <div class="texts">
            <p class="card-text">アカウント登録用URLの有効期限がきれました。お手数をお掛けしますが、再度アカウント登録を行って下さい。</p>
            <p class="card-text">
                <a href="{% url 'create' %}" class="btn">アカウント登録</a>
            </p>
        </div>
    </div>
</div>

{% endblock reserve_content %}