{% extends "base_reserve.html" %}

{% load staticfiles %}

{% block reserve_content %}

<div class="sub-contents">
    <div class="reserve">
        <div id="reserve-form">
            <div class="page-title">
                <h2>イベント予約</h2>
            </div>
            <p id="event-name">イベント名: {{ live.name }}</p>
            <form class='form' method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">お名前</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="form-group">
                    <label for="id_ticket">枚数</label>
                    {{ form.ticket }}
                    {{ form.ticket.errors }}
                </div>
                <div class="form-group button">
                    <button type="submit" class="save btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
  
{% endblock reserve_content %}