{% extends "base_reserve.html" %}

{% load staticfiles %}

{% block reserve_content %}

<div id="top">
    <div id="top-audience">
        <a href="{% url 'audience_form' %}">
            <img src="{% static 'media/foraudience.jpg' %}" alt="forartist" class="forpic">
        </a>
    </div>
    <div id="top-artist">
        <a href="{% url 'artist_form' %}">
            <img src="{% static 'media/forartist.jpg' %}" alt="forartist" class="forpic">
        </a>
    </div>
</div>
  
{% endblock reserve_content %}