{% load staticfiles %}

<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>GO to LIVE!!</title>
        <link rel="stylesheet" href="{% static 'css/reserve_base.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
    </head>
    <body>
        <div id="container">
            <header>
                <h1>
                    <a href="{% url 'reserve' %}">Go to Live!!</a>
                </h1>
                <div id="nav">
                    {% if user.nick_name %}
                        <div class="nav-element">
                            <p>
                                <a href="{% url 'profile' %}">{{ user.nick_name }}</a>
                            </p>
                        </div>
                        <div class="nav-element">
                            <p>
                                <a href="{% url 'logout' %}">ログアウト</a>
                            </p>
                        </div>
                    {% else %}
                        <div class="nav-element">
                            <p>ゲストさん</p>
                        </div>
                        <div class="nav-element">
                            <p>
                                <a href="{% url 'login' %}">ログイン</a>
                            </p>
                        </div>
                    {% endif %}
                    <div class="nav-element">
                        <p>
                            <a class="nav-link" href="{% url 'create' %}">アカウント登録</a>
                        </p>
                    </div>
                </div>
            </header>
            <div id="contents">
                {% block reserve_content %}
                {% endblock reserve_content %}
            </div>
            <footer>
                <div class="fot return-main">
                    <p>
                        <a href="{% url 'home' %}" class="dim-gray">Mizumura's portfolio</a>
                    </p>
                </div>
                <div class="fot copyright">
                    <p class="dim-gray">Copyright©︎ 2018 Kosuke Mizumura All rights reserved.</p>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>