{% load staticfiles %}

<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>GO to LIVE!!</title>
        <link rel="stylesheet" href="{% static 'css/reserve_base.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
    </head>
    <body>
        <div id="container">
            <header>
                <a href="{% url 'reserve' %}">
                    <h1>Go to Live!!</h1>
                </a>
                <p>
                    <a href="{% url 'login' %}">ログイン</a>
                </p>
                <p class="text-right mb-0">
                    <a class="nav-link" href="{% url 'create' %}">新規登録会員</a>
                </p>
                <p>
                    <a href="{% url 'logout' %}">ログアウト</a>
                </p>
            </header>
            <nav id="main_menu"></nav>
            <div id="contents">
                {% block reserve_content %}
                {% endblock reserve_content %}
            </div>
            <footer>
                <p id="copyright">
                    Copyright©︎ 2018 Kosuke Mizumura All rights reserved.
                </p>
            </footer>
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>