{% load staticfiles %}

<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>Mizumura Kosuke Portfolio</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div id="container">
            <header>
                <a href="{% url 'home' %}" >
                    <img src="{% static 'media/mizumura.png' %}" alt="logo" id="logo">
                    <div id="topname"><h1>MIZUMURA KOSUKE</h1></div>
                    <img src="{% static 'media/oto.png' %}" alt="logo" id="oto">
                </a>
            </header>
            <nav id="main_menu">
                <h2>works</h2>
                <div class="work">
                    <div id="web">
                        <h3>WEB</h3>
                    </div>
                    <div id="hidden">
                        <ul>
                            <li>
                                <a href="https://loaferofficialsite.herokuapp.com/">Loafer Official Site</a>
                            </li>
                            <li>
                                <a href="">contents2</a>
                            </li>
                            <li>
                                <a href="">contents3</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href=""><div class="work"><h3>ART</h3></div></a>
                <a href=""><div class="work"><h3>MUSIC</h3></div></a>
                <a href="https://github.com/MizumuraKosuke"><img src="{% static 'media/GitHub.png' %}" alt="GitHub" id="github"></a>
            </nav>
            <div id="contents">
                {% block content %}
                {% endblock content %}
            </div>
            <footer>
                <p id="copyright">
                    Copyright©︎ 2018 Kosuke Mizumura All rights reserved.
                </p>
            </footer>
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    </body>
</html>