{% load staticfiles %}

<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>Mizumura Kosuke Portfolio</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div id="container">
            <header>
                <a href="" >
                    <img src="{% static 'media/mizumura.png' %}" alt="logo">
                    <h1>MIZUMURA KOSUKE</h1>
                </a>
            </header>
            <nav id="main_menu">
                <h2>Works</h2>
                <h3 class="work">WEB</h3>
                <ul>
                    <li>
                        <a href="https://loaferofficialsite.herokuapp.com/">Loafer Official Site</a>
                    </li>
                    <li>
                        <a href="">contents2</a>
                    </li>
                    <li>
                        <a href="">contents3</a>
                    </li>
                </ul>
                <a href=""><h3 class="work">ART</h3></a>
                <a href=""><h3 class="work">MUSIC</h3></a>
            </nav>
            <div id="contents">
                {% block content %}
                {% endblock content %}
            </div>
            <footer></footer>
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    </body>
</html>