{% load staticfiles %}

<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>Mizumura Kosuke Portfolio</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div id="container">
            <header></header>
            <nav></nav>
            <div id="contents">
                {% block content %}
                {% endblock content %}
            </div>
            <footer></footer>
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    </body>
</html>