{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div id="prof">
    <h2>about</h2>
    <img src="{% static 'media/prof.png' %}" alt="プロフィール画像">
    <h3>水村宏輔</h3>
    <p>1996年生まれ　埼玉県出身</p>
    <p>埼玉県立大宮高校　普通科　卒業<br>法政大学　情報科学部ディジタルメディア学科　在学</p>
    <p>
        大学では、主にpython言語を学習し、web系に興味を持ったことから
        Django, html, css, Javascriptsを中心に勉強中。
        また、バンドでギターボーカルをやっており、高校時代に全国大会に出場経験あり。
        作詞・作曲を担当し、デモテープ制作ではPro Tools Firstを利用。
    </p>
    <p class="lik">好きなもの<br>猫。音楽。散歩。チーズ。ラーメン。アイス。青。オレンジ。イルミネーション。海。池松壮亮。村山由佳。ミスチル。エレカシ。クリープハイプ。</p>
    <p class="lik">苦手なもの<br>野菜。絶叫系。お化け屋敷。先端。嘘。</p>
</div>
  
{% endblock content %}