@charset "utf-8";

/* 全体設定 */
* {
    margin: 0;
    padding: 0;
}


/* フッター */
footer {
    position: absolute;
    bottom: 0;
    height: 1em;
    width: 100%;
    background-color: black;
    color: dimgray;
}

footer p {
    color: dimgray;
    text-align: right;
    font-size: 0.7em;
}